<p>temp works!</p>

<h1>Message is: {{message()}}</h1>

<form>
  <label>Text:</label>
  <input name="name" [(ngModel)]="name" (input)="change($event)" type="text">
  <div [style.color]="textColor">This is colored text</div>
  <button *ngIf="button" (click)="buttonClicked()">Button</button>
  <p>Entered Name:{{name}}</p>
  <p>{{count}}</p>
</form>

<!--
Their is mainly 4 types of of data binding 
    a>Interpolation (simple method , signal Method)
    b>property binding
    c>event binding
    d>2 way data binding
-->