#register{
    width: 300px;
    margin: auto;
    height: 75vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 8vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    position: relative;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.register{
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #1976d2;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 80%;
}
.link{
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.link a{
    text-decoration: none;
    color: #1976d2;
    font-weight: bold;
    padding-left: 5px;
}
.input{
    width: 100%;
    height: 5vh;
}
.button{
    background-color: #1976d2;
    color: white;
    height: 5vh;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}
.role{
    padding-top: 5px;
}
.error{
    color: red;
    height: 3vh;
}
.pass p{
    margin-left: -3vw;
}
.pass{
    margin-left: 3vw;
}