
<div id="register">
    <h1>Register</h1>
    <form >
        <input type="text" placeholder="UserName"  name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <div>
            <label>Role:</label>
            <label><input type="radio" name="role" value="USER" />User</label>
            <label><input type="radio" name="role" value="ADMIN" />Admin</label>
        </div>
        <button type="submit">Register</button>
    </form>
</div>