<div id="register">
  <div class="register">
    <h1>Register</h1>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="col">
      <label for="email">Email:</label>
      <input type="text" placeholder="Email" name="email" [(ngModel)]="email" class="input"/> 
    </div>

    <div class="col">
      <label for="password">Password:</label>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password" class="input" />
    </div>
    <div class="pass">
        <p class="Text">New Password Must Contain:</p>
        <ul>
            <li>At least 1 Uppercase</li>
            <li>At least 1 Lowercase</li>
            <li>At least 1 Number</li>
            <li>At least 1 Special Character</li>
            <li>At least 7 Characters</li>
        </ul>
    </div>
    <button type="submit" class="button">Register</button>
    <div class="error">
      <p *ngIf="errorMessage" >{{ errorMessage }}</p>
    </div>
    
  </form>
  <div class="link">
    <p>Already have an account?</p>
    <a routerLink="/login"> Login</a>
  </div>
</div>
