<header class="navbar">
    <h2 class="logo">Flight</h2>
    <div class="nav-buttons">
        <button routerLink="/" >Home</button>
        <button routerLink="/login" *ngIf="!isLoggedIn()">Login</button>
        <button *ngIf="isAdmin()" routerLink="/inventory">Add Inventory</button>
        <button routerLink="/register" *ngIf="!isLoggedIn()">Register</button>
        <button *ngIf="isUser()" routerLink="/all">Bookings</button>
        <button routerLink="/search">search</button>
        <button (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
        <button *ngIf="isUser()" routerLink="/profile" >Profile</button>
    </div>
</header>