form {
    width: 80vw;
    margin: auto;
}

.from-to {
    display: flex;
    flex-direction: row;
}

.bookings-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    /* spacing between cards */
    width: 90vw;
    margin: auto;
}

.bookings {
    background-color: beige;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.confirm {
    width: 30vw;
    height: 20vh;
    background-color: antiquewhite;
    border-radius: 5px;
    position: absolute;
    left:0;
    top: 50%;
    left: calc(50% - 15vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 10px;
}
.text{
    margin-left: -14vw;
}

.button {
    height: 5vh;
    width: 10vw;
    border: none;
    margin-top: 3px;
    margin-right: 5px;
}

.blur {
    filter: blur(4px);
}

.full {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff9e;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.message {
    height: 5vh;
    width: 80vw;
    margin: auto;
    text-align: center;
    color: red;
    margin-top: 3vh;
}