<div class="home">
  
  <section class="hero">
    <h1>Book Flights Easily & Quickly</h1>
    <p>Search, compare and book flights in just a few clicks.</p>
    <button class="primary" routerLink="/search">Search Flights</button>
  </section>

  <section class="features">
    <div class="card">
      <h3>Easy Search</h3>
      <p>Find flights by date, to , from and trip type.</p>
    </div>

    <div class="card">
      <h3>Best Prices</h3>
      <p>Check prices across different airlines.</p>
    </div>

    <div class="card">
      <h3>Fast Booking</h3>
      <p>Quick and secure booking process.</p>
    </div>
  </section>

</div>
