<form (ngSubmit)="bookingButton()">
    <h3>Complete your booking</h3>
    <div class="top">
        <div>
            <label>Number of Passengers:</label>
            <input type="number" [(ngModel)]="passengersCount" (ngModelChange)="updatePassenger($event)" [min]=0
                name="passengersCount">
        </div>
    </div>
    <div class="seat-layout">
        <p>Select Seats:</p>
        <div class="row" *ngFor="let row of rows">
            <div class="seat" *ngFor="let seat of seatsLeft" (click)="selectSeat(row+seat)" [class.selected]="selectedSeat.includes(row + seat)">
                {{ row }}{{ seat }}
            </div>
            <div class="aisle"></div>
            <div class="seat" *ngFor="let seat of seatsRight" (click)="selectSeat(row+seat)" [class.selected]="selectedSeat.includes(row + seat)">
                {{ row }}{{ seat }}
            </div>

        </div>
    </div>

    <div *ngFor="let _ of passengersArray; let i = index" class="passengers">
        <p>Passenger {{i+1}}</p>
        <div class="passengers col">
            <div class="row">
                <div class="col">
                    <label>Name:</label>
                    <input [(ngModel)]="passengers[i].name" name="name{{i}}" class="input">
                </div>
                <div class="col">
                    <label>Age:</label>
                    <input [(ngModel)]="passengers[i].age" name="age{{i}}" class="input">
                </div>
                <div class="col">
                    <label>Gender:</label>
                    <select [(ngModel)]="passengers[i].gender" name="gender{{i}}">
                        <option value="" disabled>Select Gender</option>
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                    </select>
                </div>
                <div class="col">
                    <label>Meal Option:</label>
                    <select [(ngModel)]="passengers[i].mealOption" name="meal{{i}}">
                        <option value="" disabled>Select Meal</option>
                        <option value="VEG">Veg</option>
                        <option value="NON_VEG">Non-Veg</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="error">
        <p>{{message}}</p>
    </div>
    <button [disabled]="selectedSeat.length !== passengersCount || passengersCount == 0 " type="submit">Submit</button>
</form>