<form (ngSubmit)="bookingButton()" >
    <h3>Complete your booking</h3>
    <div class="top">
        <div>
            <label>Number of Passengers:</label>
            <input type="number" [(ngModel)]="passengersCount" (ngModelChange)="updatePassenger($event)" [min]=0 name="passengersCount">
        </div>
    </div>


    <div *ngFor="let _ of passengersArray; let i = index" class="passengers">
        <p>Passenger {{i+1}}</p>
        <div class="passengers col">
            <div class="row">
                <div class="col">
                    <label>Name:</label>
                    <input [(ngModel)]="passengers[i].name" name="name{{i}}" class="input">
                </div>
                <div class="col">
                    <label >Age:</label>
                    <input [(ngModel)]="passengers[i].age" name="age{{i}}" class="input">
                </div>
                
                <div class="col">
                    <label>SeatNumber:</label>
                    <input [(ngModel)]="passengers[i].seatNumber" name="seat{{i}}" class="input">
                </div>
                <div class="col">
                    <label>Gender:</label>
                    <select [(ngModel)]="passengers[i].gender" name="gender{{i}}">
                        <option value="" disabled>Select Gender</option>
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                    </select>
                </div>
                <div class="col">
                    <label>Meal Option:</label>
                    <select [(ngModel)]="passengers[i].mealOption" name="meal{{i}}">
                        <option value="" disabled>Select Meal</option>
                        <option value="VEG">Veg</option>
                        <option value="NON_VEG">Non-Veg</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="error">
        <p>{{message}}</p>
    </div>
    <button type="submit">Submit</button>
</form>
