.passengers{
    display: flex;
    flex-direction: row;
    width: 90;
    flex-wrap: wrap;
    background-color: cornflowerblue;
    padding:5px;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
}
.col{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.input{
    height: 30px;
    border: none;
    width: 200px;
    border-radius: 5px;
}
form{
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 5vh;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 5px;
}
h3{
    padding-top:10px ;
    padding-bottom: 10px;
}
.top input{
    height: 25px;
    border: none;
    width: 200px;
    border-radius: 5px;
}
.top div{
    padding: 2px;
}
button{
    height: 30px;
    width:70px;
    border-radius: 5px;
    margin-left: calc(50% - 35px);
    justify-content: center;
}
.error{
    color: red;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.error p{
    text-align: center;
}
.seat-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50vw;
  gap: 10px;
  background-color: aliceblue;
  padding: 10px;
  margin-top: 5vh;
  border-radius: 10px;
}
.seat-layout p{
    text-align: center;
}

.row {
  display: flex;
  align-items: center;
}

.seat {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.aisle {
  width: 30px;
}
.seat.selected {
  background-color: #4caf50;
  color: white;
  border-color: #2e7d32;
}