<div>
    <div class="box">
        <div class="col">
            <label for="">Old Password:</label>
            <input type="password" [(ngModel)]="oldPassword">
        </div>
        <div class="col">
            <label for="">New Password</label>
            <input type="password" [(ngModel)]="newPassword">
        </div>
        <div class="pass">
            <p class="Text">New Password Must Contain:</p>
            <ul class="list">
                <li>At least 1 Uppercase</li>
                <li>At least 1 Lowercase</li>
                <li>At least 1 Number</li>
                <li>At least 1 Special Character</li>
                <li>At least 7 Characters</li>
            </ul>
        </div>
        <div class="message">
            <p>{{message}}</p>
        </div>
        <button (click)="change()">Change</button>
    </div>
</div>