.box{
    width: 30vw;
    height: 40vh;
    margin: auto;
    margin-top: 20vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.col{
    display: flex;
    flex-direction: column;
}
.list{
    margin-left: 25px;
}
.message{
    height: 5vh;
    color: red;
    text-align: center;
    margin-top: 1vh;
}