
<div id="login">
    <div class="login">
        <h1>Login</h1>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="col">
            <label for="username">Email:</label>
            <input type="text" class="input" placeholder="Email"  name="email" [(ngModel)]="email" required>
        </div>
        <div class="col">
            <label for="password">Password:</label>
            <input type="password" class="input" placeholder="Password" name="password" [(ngModel)]="password" required>
        </div>
        <button type="submit" class="button">Login</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    <div class="link">
        <p>Don't have a account?</p>
        <a routerLink="/register"> Register</a>
    </div>
</div>