#search{
    width: 300px;
    margin: auto;
    height: 50vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}