<div id="search">
  <div class="search">
    <h1>Search Flights</h1>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="col">
      <label for="fromPlace">From:</label>
      <select class="input" formControlName="fromPlace">
        <option value="">Select a place</option>
        <option *ngFor="let airport of airports" [value]="airport">{{airport}}</option>
      </select>
    </div>
    <div class="col">
      <label for="toPlace">To: </label>
      <select class="input" formControlName="toPlace">
        <option value="">Select a place</option>
        <option *ngFor="let airport of airports" [value]="airport">{{airport}}</option>
      </select>
    </div>
    <div class="col">
      <label for="journeyDate">Journey Date:</label>
      <input type="date" formControlName="journeyDate" [min]="minDate">
    </div>
    <div class="date">
      <label>Trip Type:</label>
      <label>
        <input type="radio" value="one_way" formControlName="tripType"> One Way
      </label>
      <label>
        <input type="radio" value="round_trip" formControlName="tripType"> Round Trip
      </label>
    </div>

    <div *ngIf="searchForm.value.tripType === 'round_trip'" class="col">
      <label for="returnDate">Return Date:</label>
      <input type="date" formControlName="returnDate" placeholder="Return Date">
    </div>

    <button type="submit" class="button">Search</button>

    <div *ngIf="message" class="error-message">{{ message }}</div>
  </form>
</div>
<div *ngIf="flights.length > 0" class="results">
  <h2>Available Flights</h2>

  <div *ngFor="let flight of flights" class="flight-card">

    <div class="airline">
      <h3>{{ flight.airline }}</h3>
      <span>{{ flight.flightId }}</span>
    </div>
    <div class="time">
      <strong>{{ flight.departureTime | date:'shortTime' }}</strong>
      <span class="city">{{ flight.source }}</span>
    </div>
    <div class="duration">
      <span class="line"></span>
      <span class="duration-text">
        {{ flight.departureTime | date:'HH:mm' }} →
        {{ flight.arrivalTime | date:'HH:mm' }}
      </span>
      <span class="line"></span>
    </div>
    <div class="time">
      <strong>{{ flight.arrivalTime | date:'shortTime' }}</strong>
      <span class="city">{{ flight.destination }}</span>
    </div>
    <div class="price">
      <p>₹{{ flight.price }}</p>
      <button (click)="booking(flight.id)">Book</button>
    </div>

  </div>
</div>