.flight-card {
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  font-family: Arial, sans-serif;
  margin: auto;
  margin-top: 10vh;
}

.flight-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.flight-header img {
  height: 40px;
}

.flight-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px 20px;
}

.label {
  font-size: 12px;
  color: #666;
  margin-bottom: 4px;
  display: block;
}

.input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.price {
  color: #2e7d32;
  font-weight: bold;
}

button{
    margin-left: 280px;
    margin-top: 4vh;
    width: 5vw ;
    height: 5vh;
}
.message{
    text-align: center;
    color: red;
    margin-top: 3vh;
}
.success{
    text-align: center;
    color:green;
}